.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}
.about{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
.about-me {
  width: 79%;
  height: 260px;
   font-size: 70px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(9, 69, 128, 0.3);
  border-radius: 30px;
 }
.text{
  font-size: 70px;
  color: whitesmoke;
}
.vidio{
  mix-blend-mode: lighten;
  border-radius: 30px;
}
.myself{
  margin-top: 20px;
  font-size: 25px;
  color: whitesmoke;
  background-color: rgba(9, 69, 128, 0.3);
  padding: 10px 20px;
  border-radius: 30px;
  gap: 20px;
}