.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}
.about{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
.about-me {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: ;
 }
.text{
  font-size: 70px;
  color: whitesmoke;
}
.vidio{
  mix-blend-mode: lighten;
  border-radius: 30px;
}