.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}
.about-me {
  
  align-items: center;
  height: 250px;
  width:73%;
  margin-top: 20px;
}
.text{
  font-size: 70px;
  font-weight: bold;
  color: whitesmoke;
}