.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}
.about-me {
  
}
.text{
  
}
.vidio{
  height: 250px;
  width: 400px;
  border-radius: 20px;
  mix-blend-mode: jus;
}