.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}
.about-me {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
 
  height: 250px;
  width:73%;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(0,231,255,0.4);
}
.text{
  font-size: 70px;
  font-weight: bold;
  color: whitesmoke;
  height: 250px;
  width:73%;
}
.vidio{
  height: 250px;
  width: 400px;
  border-radius: 20px;
}