.menu {
  color: white;
  display: flex;
  background-color: red;
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}

.message{
  width: 70%;
  margin-left: 20px;
  height: 250px;
  font-size: xx-large;
  text-align: center;
  line-height: 1.5;
  color: white;
  mar
}