.menu {
  color: white;
  display: flex;
  background-color: red;
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}

.message{
  width: 75%;
  height: 260px;
  font-size: 58px;
  
  font-weight: 600;
  color: white;
  padding-left:10%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(9, 69, 128, 0.3);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding-right: 60px;
  

  
  
}
.contact{
 display:flex;
 justify-content: center;
 margin-top: 20px;
 margin-left: 20px;
 }
 



