.menu {
  color: white;
  display: flex;
  background-color: red;
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}

.message{
  width: 75%;
  margin-left: 20px;
  height: 250px;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  padding: 20px 10px;
  color: white;
  margin-top: 20px;
}
.contact{
   background-color: rgba(9, 69, 128, 0.3);
   margin-left: 20px;
    border-radius: 20px;
    width: 65;
}