.menu {
  color: white;
  display: flex;
  background-color: red;
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}

.message{
  color: white;
    width: 78%;
 background: rgba(9, 69, 128, 0.3);
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.05);
border-radius: 20px;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction:column;
margin-top: 20px
  
}
.contact{
   background-color: rgba(9, 69, 128, 0.3);
   margin-left: 20px;
   border-radius: 20px;
   width: 75%;
   height: 260px;
   margin-top: 30px;
   display: flex;
   flex-direction: row;
   
   
    }
.video {
  mix-blend-mode: screen;
  opacity: 0.85;
  height: 260px;
  padding-bottom: 20px;
}    