.menu {
  color: white;
  display: flex;
  background-color: red;
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}

.message{
  width: 75%;
  height: 260px;
  font-size: 58px;
  
  font-weight: 600;
  color: white;
  padding-left:10%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(9, 69, 128, 0.3);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding-right: 90px;
  }
.contact{
 display:flex;
 justify-content: center;
 margin-top: 20px;
 margin-left: 20px;
 }
 video {
  mix-blend-mode: lighten;
  border-radius: 30px;
  margin-right: 30px;
}
.email-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  background: rgba(255, 0, 0, 0.65);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  width: 92%;
  height: 40px;
}
.email-btn:hover {
  background: #084B8A;
}


.btn2{
  display:inline-block;
  background-color: rgba(9, 69, 128, 0.5);
  color: #e60000;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: large;
  font-weight: 600;
  transition: all 0.4s ease ;
  height: 60px;
  width: 92%;
  text-shadow: 2px 2px 4px  rgba(255, 255, 255, 0.05);
  margin-top: 11px;
}
.text{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
  color: white;
}
.link{
  text-align: center;
  margin-top: 20px;
   background: rgba(9, 69, 128, 0.3);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}



