.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}
.main-box{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.project-heading{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: rgba(9, 69, 128, 0.3);
  width: 96%;
  height:120px;
  backdrop-filter: blur(90px);
  border-radius:40px ;
  }

  .heading-text{
    color: white;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
  }

  video {
  mix-blend-mode: screen;
  opacity: 0.85;
  height: 260px;
  padding-bottom: 20px;
}

.projects{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: repeat(2,170px);
  padding: 20px 135px;
  gap: 20px;
}

.boxes{
border-radius: 30px;
background-color: red;
box-shadow: 100px white
}
