.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}

.main-box{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.project-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px 10px;
  
  background: rgba(9, 69, 128, 0.3);
  width: 80%;
  height:270px;
  backdrop-filter: blur(90px);
  border-radius:30px ;
  }

  .heading-text{
    color: white;
    font-size: 70px;
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
  }

  video {
  mix-blend-mode: screen;
  opacity: 0.85;
  height: 260px;
  padding-bottom: 20px;
}