.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}

.project-heading{
  text-align: center;
  margin-top:20px
}