/*^^^^^^^^Below the media query for screens  above 1200px ^^^^^^^^^*/
@media (min-width:1200px) {
body {
  background: radial-gradient(circle at center, #094580, #000);
  overflow-x:hidden ;
}

.glow {
  width: 300px;
  height: 300px;
  background: #13ade1;
  filter: blur(1500px);
  animation: moveGlow 10s infinite alternate;
  position: absolute;
}

@keyframes moveGlow {
  0% { transform: translate(0, 0); }
  100% { transform: translate(200px, 100px); }
}
.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:0px;
  margin-top:30px;
  justify-content: space-evenly;
}
.container{
  display:flex;
  justify-content:  space-evenly;
  width: 60%;  
}
.tags{
  text-decoration: none;

  border-radius: 20px;
 height: 50px;
 padding-bottom: 50px;

}

.nav-btn {
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.65);
  color:white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition : all 0.3s ease;
  height: 80px;
   text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
   height: 100px;
   
}

.nav-btn:hover {
  background-color: #ff3366;
  color: #000;
  transform: translatey(-4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
  


.name{
  text-shadow: 2px 2px 4px #000000;
  font-size: 50px;
  cursor: pointer;
  }
  
.intro{
    
    color: white;
    width: 78%;
 background: rgba(9, 69, 128, 0.3);
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.05);
border-radius: 20px;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction:column;
margin-top: 20px
  }

.hello{
 font-size: 60px;
}  
.prashant{
  font-size: 100px;
  font-weight: bold;
  color: #00E7FF;
text-shadow: 0 0 5px rgba(0,231,255,0.4);

}
video {
  mix-blend-mode: screen;
  opacity: 0.85;
  height: 260px;
  padding-bottom: 20px;
}
.hero{
  display: flex;
  justify-content: space-evenly;

}
.curious{
color: white;
width: 30%;
 background: rgba(9, 69, 128, 0.3);
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.05);
border-radius: 20px;
margin-top: 20px;
text-shadow: 2px 2px 4px rgba(9, 69, 128, 0.3);
text-align: center;
margin-left: 16px;
padding-bottom: 50px;


}
.heading{
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
}
.paragraph {
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.6;
}
.project-btn{
 display: inline-flex;
 justify-content: center;
 align-items: center;
  background-color: rgba(255, 0, 0, 0.83);
  color:whitesmoke;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight:600;
  font-size: x-large;
  transition : all 0.3s ease;
  height: 48px;
  width: 160px;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.05);
   border:rgba(255, 255, 255, 0.05) ;
  
}
.project-btn:hover {
  background-color:  rgba(0,231,255,0.4);
  color: #000;
  transform: translatey(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.contact-btn{
 display: inline-flex;
  justify-content: center;
  align-items: center;
 background-color: rgba(9, 69, 128, 0.5);;
  color:red;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight:600;
  font-size: x-large;
  transition : all 0.3s ease;
  height: 48px;
  width: 160px;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.05);
   border:rgba(255, 255, 255, 0.05) ;
   margin-top:10px
}
.contact-btn:hover {
  background-color: rgba(0,231,255,0.4);
  color: #000;
  transform: translatey(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.bottom-section{
  display:flex;
  width: 100%;
  margin-bottom: 70px;  
}
.quote{
  width:63% ;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
  background: rgba(9, 69, 128, 0.3);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
  color: white;
  font-weight: 600px;
  font-size:35px;
  text-align: center;
}
.space-text {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  background: url("https://i.ibb.co/2d1Pd3n/stars-texture.gif"),
              radial-gradient(circle at center, #0a4d8c, #021d34, #000);
  background-size: cover;
  background-repeat: repeat;
  background-position: 0 0;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: moveSpace 18s linear infinite;
}

@keyframes moveSpace {
  0%   { background-position: 0 0; }
  100% { background-position: 1000px 1000px; }
}
}
/*^^^^^^^^above  the media query for screens  above 1200px ^^^^^^^^^*/



/*^^^^^^^^below  the media query for screens  above 769px and below the 1200px ^^^^^^^^^*/
@media (min-width:768px) and (max-width:1200px){
body {
  background: radial-gradient(circle at center, #094580, #000);
  overflow-x:hidden ;
}

.glow {
  width: 300px;
  height: 300px;
  background: #13ade1;
  filter: blur(1500px);
  animation: moveGlow 10s infinite alternate;
  position: absolute;
}

@keyframes moveGlow {
  0% { transform: translate(0, 0); }
  100% { transform: translate(200px, 100px); }
}
.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:0px;
  padding-right: 7%;
  margin-top:30px;
  margin-left: 1%;
  justify-content: space-around;
  width: 90%;
}
.container{
  display:flex;
  justify-content:  space-evenly;
  width: 60%;  
}
.tags{
  text-decoration: none;

  border-radius: 20px;
 height: 50px;
 padding-bottom: 50px;

}

.nav-btn {
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.65);
  color:white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition : all 0.3s ease;
  height: 80px;
   text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
   height: 100px;
   
}

.nav-btn:hover {
  background-color: #ff3366;
  color: #000;
  transform: translatey(-4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
  


.name{
  text-shadow: 2px 2px 4px #000000;
  font-size: 50px;
  cursor: pointer;
  }
  
.intro{
    
    color: white;
    width: 78%;
 background: rgba(9, 69, 128, 0.3);
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.05);
border-radius: 20px;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction:column;
margin-top: 20px;
margin-left:2%;
}

.hello{
 font-size: 58px;
}  
.prashant{
  font-size: 90px;
  font-weight: bold;
  color: #00E7FF;
text-shadow: 0 0 5px rgba(0,231,255,0.4);

}
video {
  mix-blend-mode: screen;
  opacity: 0.85;
  height: 260px;
  padding-bottom: 20px;
}
.hero{
  display: flex;
  justify-content: space-evenly;
  

}
.curious{
color: white;
width: 30%;
 background: rgba(9, 69, 128, 0.3);
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.05);
border-radius: 20px;
margin-top: 20px;
text-shadow: 2px 2px 4px rgba(9, 69, 128, 0.3);
text-align: center;
margin-left: 16px;
padding-bottom: 50px;


}
.heading{
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
}
.paragraph {
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.6;
}
.project-btn{
 display: inline-flex;
 justify-content: center;
 align-items: center;
  background-color: rgba(255, 0, 0, 0.83);
  color:whitesmoke;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight:600;
  font-size: x-large;
  transition : all 0.3s ease;
  height: 48px;
  width: 160px;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.05);
   border:rgba(255, 255, 255, 0.05) ;
  
}
.project-btn:hover {
  background-color:  rgba(0,231,255,0.4);
  color: #000;
  transform: translatey(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.contact-btn{
 display: inline-flex;
  justify-content: center;
  align-items: center;
 background-color: rgba(9, 69, 128, 0.5);;
  color:red;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight:600;
  font-size: x-large;
  transition : all 0.3s ease;
  height: 48px;
  width: 160px;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.05);
   border:rgba(255, 255, 255, 0.05) ;
   margin-top:10px
}
.contact-btn:hover {
  background-color: rgba(0,231,255,0.4);
  color: #000;
  transform: translatey(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.bottom-section{
  display:flex;
  width: 100%;
  margin-bottom: 70px;  
}
.quote{
  width:63% ;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
  background: rgba(9, 69, 128, 0.3);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
  color: white;
  font-weight: 600px;
  font-size:35px;
  text-align: center;
}
.space-text {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  background: url("https://i.ibb.co/2d1Pd3n/stars-texture.gif"),
              radial-gradient(circle at center, #0a4d8c, #021d34, #000);
  background-size: cover;
  background-repeat: repeat;
  background-position: 0 0;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: moveSpace 18s linear infinite;
}

@keyframes moveSpace {
  0%   { background-position: 0 0; }
  100% { background-position: 1000px 1000px; }
}
}
/*^^^^^^^^above  the media query for screens  above 769px and below the 1200px ^^^^^^^^^*/


/*^^^^^^^^Below  the media query for screens  above 481px and below the 768px ^^^^^^^^^*/
@media (min-width:480px) and (max-width:768px){
body {
  background: radial-gradient(circle at center, #094580, #000);
  overflow-x:hidden ;
}

.glow {
  width: 300px;
  height: 300px;
  background: #13ade1;
  filter: blur(1500px);
  animation: moveGlow 10s infinite alternate;
  position: absolute;
}

@keyframes moveGlow {
  0% { transform: translate(0, 0); }
  100% { transform: translate(200px, 100px); }
}
.menu {
  color: white;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding: -5px 0px;
  margin-top:30px;
  justify-content: space-evenly;
  margin-left:1%;
  margin-right:1%;
  
  
  
  
  
}
.container{
  display:flex;
  justify-content:  space-evenly;
  width: 60%;  
}


.nav-btn {
  display: inline-block;
  position: relative;
  background-color: rgba(255, 0, 0, 0.65);
  color:white;
  padding: 8px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 400;
  font-size: 60%;
  transition : all 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  height: 82px;
   
}

.nav-btn:hover {
  background-color: #ff3366;
  color: #000;
  transform: translatey(-4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
  


.name{
  text-shadow: 2px 2px 4px #000000;
  font-size: 40px;
  cursor: pointer;
  
  }
  
.intro{
    
    color: white;
    width: 78%;
 background: rgba(9, 69, 128, 0.3);
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.05);
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction:column;
margin-top: 20px;
  }

.hello{
 font-size: 250%;
 height:auto;
 width:auto;
}  
.prashant{
  font-size: 400%;
  height:auto;
  width:auto;
  font-weight: bold;
  color: #00E7FF;
text-shadow: 0 0 5px rgba(0,231,255,0.4);

}
video {
  mix-blend-mode: screen;
  opacity: 0.85;
  height: 260px;
  padding-bottom: 20px;
}
.hero{
  display: flex;
  justify-content: space-evenly;
  width: auto;
  margin-left:1%;

}
.curious{
color: white;
width: 30%;
 background: rgba(9, 69, 128, 0.3);
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.05);
border-radius: 20px;
margin-top: 20px;
text-shadow: 2px 2px 4px rgba(9, 69, 128, 0.3);
text-align: center;
margin-left: 16px;
padding-bottom: 50px;


}
.heading{
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
}
.paragraph {
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.6;
}
.project-btn{
 display: inline-flex;
 justify-content: center;
 align-items: center;
  background-color: rgba(255, 0, 0, 0.83);
  color:whitesmoke;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight:600;
  font-size: x-large;
  transition : all 0.3s ease;
  height: 7%;
  width: 60%;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.05);
   border:rgba(255, 255, 255, 0.05) ;
  
}
.project-btn:hover {
  background-color:  rgba(0,231,255,0.4);
  color: #000;
  transform: translatey(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.contact-btn{
 display: inline-flex;
  justify-content: center;
  align-items: center;
 background-color: rgba(9, 69, 128, 0.5);;
  color:red;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight:600;
  font-size: x-large;
  transition : all 0.3s ease;
  height: 7%;
  width: 60%;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.05);
   border:rgba(255, 255, 255, 0.05) ;
   margin-top:10px
}
.contact-btn:hover {
  background-color: rgba(0,231,255,0.4);
  color: #000;
  transform: translatey(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.bottom-section{
  display:flex;
  width: 100%;
  margin-bottom: 70px;  
}
.quote{
  width:60% ;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
  background: rgba(9, 69, 128, 0.3);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
  color: white;
  font-weight: 600px;
  font-size:32px;
  text-align: center;
}
.space-text {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  background: url("https://i.ibb.co/2d1Pd3n/stars-texture.gif"),
              radial-gradient(circle at center, #0a4d8c, #021d34, #000);
  background-size: cover;
  background-repeat: repeat;
  background-position: 0 0;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: moveSpace 18s linear infinite;
}

@keyframes moveSpace {
  0%   { background-position: 0 0; }
  100% { background-position: 1000px 1000px; }
}
}

/*^^^^^^^^above  the media query for screens  above 481px and below the 768px ^^^^^^^^^*/


/*^^^^^^^^Below  the media query for screens  above 320px and below the 480px ^^^^^^^^^*/
@media (max-width:480px){
body {
  background: radial-gradient(circle at center, #094580, #000);
  overflow-x:hidden ;
}

.glow {
  width: 300px;
  height: 300px;
  background: #13ade1;
  filter: blur(1500px);
  animation: moveGlow 10s infinite alternate;
  position: absolute;
}

@keyframes moveGlow {
  0% { transform: translate(0, 0); }
  100% { transform: translate(200px, 100px); }
}
.menu {
  color: green;
  display: flex;
  background-color: rgba(255, 0, 0, 0.83);
  border-radius: 50px;
  padding:1%;
  margin-top:30px;
  
}
.container{
  display:flex;
  justify-content:  space-evenly;
  width: 10%;  
}


.nav-btn {
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.65);
  color:white;
  margin:1%;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 100;
  transition : all 0.3s ease;
  height: 90%;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
   
   
}

.nav-btn:hover {
  background-color: #ff3366;
  color: #000;
  transform: translatey(-4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
  


.name{
  text-shadow: 2px 2px 4px #000000;
  font-size: 220%;
  cursor: pointer;
  padding-right:2%;
  gap:10
  
}
  
.intro{
    
color: white;
width: 95%;
height: 200px;
background: rgba(9, 69, 128, 0.3);
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.05);
border-radius: 20px;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction:column;
margin-top: 20px;

  }

.hello{
 font-size: 190%;
}  
.prashant{
  font-size: 350%;
  font-weight: bold;
  color: #00E7FF;
text-shadow: 0 0 5px rgba(0,231,255,0.4);

}
video {
  mix-blend-mode: screen;
  opacity:1.9;
  height: 200px;
  
  padding-bottom: 20px;

}
.hero{
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}
.curious{
color: white;
width: 100%;
 background: rgba(9, 69, 128, 0.3);
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.05);
border-radius: 20px;
margin-top: 20px;
text-shadow: 2px 2px 4px rgba(9, 69, 128, 0.3);
text-align: center;

padding-bottom: 50px;


}
.heading{
  font-size: 170%;
  font-weight: bold;
  margin-top: 30px;
}
.paragraph {
  font-size: 190%;
  margin-top: 20px;
  line-height: 1.6;
}
.project-btn{
 display: inline-flex;
 justify-content: center;
 align-items: center;
  background-color: rgba(255, 0, 0, 0.83);
  color:whitesmoke;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight:600;
  font-size: x-large;
  transition : all 0.3s ease;
  height: 48px;
  width: 87%;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.05);
   border:rgba(255, 255, 255, 0.05) ;
  
}
.project-btn:hover {
  background-color:  rgba(0,231,255,0.4);
  color: #000;
  transform: translatey(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.contact-btn{
 display: inline-flex;
  justify-content: center;
  align-items: center;
 background-color: rgba(9, 69, 128, 0.5);;
  color:red;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight:600;
  font-size: x-large;
  transition : all 0.3s ease;
  height: 48px;
  width: 87%;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.05);
   border:rgba(255, 255, 255, 0.05) ;
   margin-top:10px
}
.contact-btn:hover {
  background-color: rgba(0,231,255,0.4);
  color: #000;
  transform: translatey(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.bottom-section{
  display:flex;
  width: 100%;
  margin-bottom: 70px; 
  flex-direction: column; 
}
.quote{
  width:98% ;
  
  margin-top: 20px;
  border-radius: 20px;
  background: rgba(9, 69, 128, 0.3);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
  color: white;
  font-weight: 600px;
  font-size:30px;
  text-align: center;
}
.space-text {
  font-size: 49px;
  font-weight: 700;
  text-align: center;
  background: url("https://i.ibb.co/2d1Pd3n/stars-texture.gif"),
              radial-gradient(circle at center, #0a4d8c, #021d34, #000);
  background-size: cover;
  background-repeat: repeat;
  background-position: 0 0;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: moveSpace 18s linear infinite;
}

@keyframes moveSpace {
  0%   { background-position: 0 0; }
  100% { background-position: 1000px 1000px; }
}
}
/*^^^^^^^^Above  the media query for screens  above 320px and below the 480px ^^^^^^^^^*/